@model Raivo.Models.Login

@{
    ViewBag.Title = "S'authentifier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>S'authentifier</h2>

@using (Html.BeginForm("Login", "Login", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nomutilisateur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nomutilisateur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nomutilisateur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Motdepasse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Motdepasse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Motdepasse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Connecter" class="btn btn-default" />
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#inscription">S'inscrire</button>

            </div>
        </div>
    </div>
}



<div class="modal" tabindex="-1" id="inscription">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ajouterUtilisateur", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <!-- Modal content-->
                    <p>


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nom_prenom, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nom_prenom, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nom_prenom, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Nomutilisateur, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nomutilisateur, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nomutilisateur, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Motdepasse, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Motdepasse, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Motdepasse, "", new { @class = "text-danger" })
                            </div>
                    </p>

                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                }
            </div>
    </div>
</div>



                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
